html {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
}

body {
    display: block;
    margin: 0px;
    height: 100%;
}

.container {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 2rem;
}

.container-fluid {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 0px;
}

/* Heading  */


/* Button Styling */

.btn {
    display: block;
    box-sizing: border-box;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 1rem;
    font-family: $font-primary;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.btn.btn-primary {
    padding: 10px;
    background: $primary;
    border-radius: 5px;
    color: $white;
    border: 1px solid transparent;

    &:hover {
        background-color: $white;
        color: $primary;
        border: 1px solid $primary;
    }
}

.btn.btn-secondary {
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    color: $primary;
    border: 1px solid transparent;

    &:hover {
        background-color: rgba($primary, 10%);
        color: $black;
    }
}

.btn.btn-wide {
    width: 100%;
}

.btn.btn-add {
    border: none;
    width: 50px;    
    height: 100%;
    border: none !important;
}
.btn.btn-active {
    background-color: $white;
    color: $primary;
    border: 1px solid $primary;
}



/* MSC */

.error-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login */

.login-box {
    background: $white;
    padding: 2rem;
    width: 100%;;
    max-width: 400px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0px rgba($dark2, 10%);
}

.register-form-wrap,
.login-form-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.dashboard {
    display: flex;
    height: 100vh;
    width: 100%;
}


.msg-wrap {
    flex: 5;
    background: $light2;
}


.chat-list {
    display: block;
}