$font-primary: 'Mulish';

$primary: #0984e3;
$secondary: #000;
$black: #000;
$white: #fff;

$warn: #ce1f4a;

$light1: #dfe6e9;
$light2: #f3f6f7;

$dark1: #636e72;
$dark2: #2d3436;

$base-font-size: 16;